.login-form-1 {
	border-radius: 5px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	padding: 5%;
	background-color: var(--clr-white);
}

.login-form-1 h3 {
	text-align: center;
	color: var(--clr-black);
	font-weight: bold;
}

.login-form-2 {
	border-radius: 5px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	padding: 5%;
	background: var(--clr-primary-4);
}

.login-form-2 h3 {
	text-align: center;
	color: var(--clr-white);
	font-weight: bold;
}

.login-container form {
	padding: 10%;
}

.btnSubmit {
	border-radius: 1rem;
	padding: 1.5%;
	border: none;
	cursor: pointer;
	margin: 0px 10px;
}

.login-form-1 .btnSubmit {
	color: var(--clr-white);
	background-color: var(--clr-primary-4);
}

.login-form-2 .btnSubmit {
	background-color: var(--clr-white);
	color: var(--clr-primary-4);
}

.password-input-login {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.password-input-login {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.password-input-register {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.password-register {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.btn-password-login {
	color: var(--clr-primary-4);
	border-color: var(--clr-primary-4);
}

.btn-password-login:hover {
	background: var(--clr-primary-4);
}

.btn-password-register:hover {
	color: var(--clr-primary-4);
}

.password-validation-box {
	background-color: var(--clr-grey-4);
	font-size: smaller;
	color: var(--clr-white);
	letter-spacing: 0.09em;
	padding: 15px;
	border-radius: 5px;
	margin-top: 5px;
}

.password-validation-box div {
	margin: 5px 0;
}

.password-validation-box .validated {
	color: rgb(168, 168, 168);
}

.list-icon {
	color: var(--clr-red-light);
	margin-right: 8px;
}
.list-icon.green {
	color: chartreuse;
}
