@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");

/* Calendar css*/
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: inline;
  max-height: 570px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 20px;
  padding: 25px;
  position: fixed;
  right: 25px;
}

.fab-delete {
  border-radius: 100%;
  bottom: 25px;
  font-size: 20px;
  position: fixed;
  left: 25px;
  width: 70px;
  height: 70px;
}

.btn-submit-modal {
  width: 100%;
}

/* Notes */
.container-note-layout {
  display: flex;
  height: 90vh;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  flex-flow: row nowrap;
  /* Esto es lo mismo que usar flex-direction y flex-wrap por separado */
  /* margin-top: 10px; */
  align-items: center;
}

.left {
  display: flex;
  flex-grow: 0;
  align-items: center;
}

.left-open {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
}

.right {
  flex-grow: 5;
  padding-right: 5vh;
}

.right-without-list {
  display: flex;
  flex-grow: 1;
  padding-right: 5vh;
}

.nav-list-notes {
  display: flex;
  width: 100%;
}

.list-notes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 80vh;
  padding: 20px;
  background-color: #bbd8ff;
  overflow-y: auto;
  width: 100%;
  cursor: pointer;
}

.btn-collapse-sidebar-note {
  height: 15vh;
}

.not-selected-note {
  display: flex;
  background-color: #6b8ebb;
  height: 85vh;
  align-items: center;
  justify-content: center;
}

.note {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.buttons-notes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.buttons button {
  width: 49%;
}

@media screen and (max-width: 500px) {
  .left {
    display: flex;
    flex-grow: 0;
    align-items: center;
  }

  .right-without-list {
    display: flex;
    flex-grow: 1;
  }

  .left-open {
    display: flex;
    flex-grow: 1;
  }

  .right {
    display: none;
  }
}

/* Kanban */
.container-main {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  min-height: 90vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* LAYOUT CARDS */
.grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 0 2rem;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.layout-cards {
  border: 2px solid #ffffff8c;
  background-color: #1a1a1a;
  color: #f2f2f2;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.layout-cards > p {
  border-radius: 5px;
  background-color: black;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
}

.layout-dragging {
  background: #000000ce;
  border: 2px dashed #ffffff8c;
}

/* SINGLE CARD */
.card-container {
  margin: 1rem 1rem 0 1rem;
  background-color: slateblue;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
  text-transform: capitalize;
}

.card-container-expired {
  margin: 1rem 1rem 0 1rem;
  background-color: rgb(179, 46, 46);
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
  text-transform: capitalize;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-container > p {
  font-weight: bold;
  font-size: 1rem;
}

.done > h5 {
  font-weight: bold;
  font-size: 1rem;
  text-decoration: line-through;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .layout-cards {
    overflow-y: scroll;
    height: 250px;
    min-height: 150px;
    max-height: 250px;
  }
}
