/* Calendar css*/
.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}

.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 20px;
    padding: 25px;
    position: fixed;
    right: 25px;
}

.fab-delete {
    border-radius: 100%;
    bottom: 25px;
    font-size: 20px;
    position: fixed;
    left: 25px;
    width: 70px;
    height: 70px;
}

.btn-submit-modal {
    width: 100%;
}

/* Notes */
.container-note-layout {
    display: flex;
    justify-content: space-between;
    /* gap: 16px; */
    height: 85vh;
}

.btn-collapse-sidebar-note {
    height: 15vh;
}

.left {
    display: flex;
    align-items: center;
    width: 5vw;
    height: 80vh;
}

.left-open {
    display: flex;
    width: 25vw;
    align-items: center;
}

.list-notes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80vh;
    padding: 20px;
    background-color: #bbd8ff;
    overflow-y: auto;
    border: 1px solid black;
}

.right {
    width: 65vw;
    padding-right: 5vh;
}

.right-without-list {
    width: 90vw;
    padding-right: 5vh;
}

.not-selected-note {
    background-color: #6b8ebb;
    height: 85vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid black;
}

.buttons-notes {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 49%;
    margin: 5px;
}